annotated-types==0.7.0
email-validator==2.3.0
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
httptools==0.6.4
Jinja2==3.1.6
pip==25.1
pydantic_core==2.33.2
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.2
setuptools==78.1.1
starlette==0.47.3
typing-inspection==0.4.1
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
wheel==0.45.1
